@font-face {
  font-family: 'IRANSANS';
  src:  url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff');
}

body{
   font-family: "IRANSANS";
}

.App {
  text-align: center;
}

.Content {
  min-width: auto;
  height: max-content;
  margin:0 14vw;
}

.Title {
  font-size: 10px;
  color: #fff;
}

.Container {
  background-color: #fff;
  min-height: 75vh;
  padding: 15px;
  margin-bottom: 20px;
}

.SubContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #e8e8e8;
}

