.ContainerNavbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 10vh;
  }
  
  .ButtonPlace {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0 13vw;
  }
  
  .ContainerButton {
    background: none;
    border: none;
    font-family: "IRANSANS";
    font-size: 18px;
    padding: 2px 15px;
    color: #919090;
  }
  
  .ContainerActive{
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #42a1f5;
  } 