.ContentRegister {
  margin: 12vh 12vw 5vh 12vw;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: fit-content;  
  min-height: 50vh;
  padding-bottom: 20px;
  width: 45vw;
}

.SelectFiles {
  margin: 5vh 8vw;
  padding: 10px;
  background-color: #59afff;
  font-family: "IRANSANS";
  font-style: normal;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  border-width: 4px;
  border-bottom-style: inset;
  border-bottom-color: #02e0f2;
  display: flex;
  align-items:center;
  justify-content: center;
  cursor: pointer;
}

input.fileInput {
  border: none;
  margin: 0;
  padding: 0;
  width: 29vw;
  height: 6.5vh;
  cursor: pointer;
  z-index: 0;
}

input[type='file'] {
  opacity: 0;
  position: absolute;
}

.filesDrag {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-content: center;
    color: #59afff;
    font-size: 20px;
    border-style: dashed;
    border-color: #59afff;
    height: 23vh;
    width: 40vw;
    margin: 0 2vw;
}

.filesDragHide {
  border: none;
}

.filesDrag img {
  height: 150px;
  width: 200px;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 250px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
}

.removeButtonPlace {
  display: none;
  flex-direction: row;
  margin: 2vh 10vw 0 10vw;
  align-content: center;
  align-items:center;
  justify-content: center;
}

.removeButton {
  display: flex;
  background-color: #d9403b;
  padding: 10px;
  font-family: "IRANSANS";
  font-style: normal;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  border-width: 4px;
  border-bottom-style: inset;
  border-bottom-color: #bf1711;
  width: fit-content;
  cursor: pointer;
}

.fileName {
  padding-right: 5px;
  margin:0;
  direction: ltr;
}
