.information {
    margin: 12vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #e8e8e8;
    border-width: 2px;
    border-radius: 5px;
    height: 52.5vh;
    width: 50vw;
  }
  
.information-Header-Text {
    font-size: 16px;
    color: #919090;
    margin: 4vh 10vw;
  }
  
.Form-Place {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 3vh 3vw;
  }
.Name { 
    font-family: "IRANSANS";
    padding: 1vh 15px;
    margin: 5px 15px;
    width: 13vw;
    height: 3vh;
    border-color: #d4d4d4;
    border-style: solid;
  }
  
.Description {
    display: flex;
    font-family: "IRANSANS";
    padding: 1vh 15px;
    margin: 5px 15px;
    min-width: 30vw;
    max-width: 40vw;
    min-height: 10vh;
    max-height: 16vh;
    border-color: #d4d4d4;
    border-style: solid;
  }

  textarea {
    outline: none;
  }
  
::placeholder { 
    font-family: "IRANSANS";
    color: #e0e0e0;
    opacity: 1;
  }