.modalBack {
  background-color: rgba(0,0,0,0.4);
  z-index: 9999;
  display: flex;
  align-content: center;
  justify-content: center;
  width:100vw;
  height: 100vh;
  position: fixed;
  left:0;
  top:0;
}

.Modal {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: white;
  width: 50vw;
  height: 80vh;
  
}

.modalNavbar {
  display: flex;
  flex-direction: row;
  
}

.Close {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ff6e9e;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-style: none;
  border-radius: 7px;
  color: white;
  margin: 18px;
}

.LoginLogOut {
  display: flex;
  margin: 14px 0;
  font-size: 20px;
}

.picField {
  display: flex;
  align-content: center;
  justify-content: center;
}

.pic {
  background-color: #b0b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 200px;
  max-height: 200px;
  margin: 30px;
  margin-bottom: 10px;
}

.picText {
  margin: 0;
  width: auto;
  height: fit-content;
  font-size: 23px;
  font-family:  "Cambria";
  font-weight: bold;
}

.modalTextField {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.loginText {
  margin:0;
  font-size: 21px;
  margin-bottom: 10px;
}

.numberRegister {
  margin:0;
  font-size: 16px;
}

.number {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.numberInput {
  margin-top: 10px;
  width: 200px;
  padding: 12px;
  padding-left: 10px;
  border-color: #dbdbdb;
  border-width: 2px;
  border-style: solid;
  border-left-style: none;
}

::placeholder {
  font-family: "Cambria";
  font-weight: bold;
}

.dropCountry {
  position: relative;
  display: inline-block;
}

.countryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  background-color: white;
  margin-top: 10px;
  padding: 12px;
  width: fit-content;
  border-color: #dbdbdb;
  border-width: 2px;
  border-style: solid;
  border-right-style: none;
}

.card {
  color:#9c9c9c;
  padding-left: 4px;
}

.countryList {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  border-color: #dbdbdb;
  border-width: 2px;
  border-style: solid;
  align-items: center;
  justify-content: flex-start;
  max-width: 200px;
  max-height: 80px;
  padding: 0 8px;
  border-top-style: none;
  overflow: auto;
  background-color: white;
}

.flag {
  display: inline-block;
  height: 20px;
  width: 30px;
  padding: 5px 0 0 0;
}

.passwordSendPlace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.passwordSend-Button {
  display: flex;
  background-image: linear-gradient(-90deg,#ffaa42 10%, #ffac45, #ffaa42 10%);
  font-family: "IRANSANS";
  justify-content: center;
  color: white;
  border-style: none;
  border-radius: 8px;
  padding: 7px 17px;
  box-shadow: 0px 1px 15px 1px #ffac45;
}
