.Navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Items {
    margin: 10px 10vw 10px 13vw;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .navbarTitle {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  
  .App-logo {
    margin: 15px 2px;
    width: 30px;
    height: 30px;
  }
  
  .h1Header {
    font-size: 25px;
    font-family: 'Courier New';
  }
  
  .ItemsList{
    color: #fff;
    font-size: 10px;
    list-style: none;
    margin: 10px 0 10px 3vw;
    padding: 0;
  }

  .navbarPanelRegister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left:0;
    margin: 10px 0;
    height: 40px;
  }
  
  .panelButton {
    font-family: "IRANSANS";
    background: none;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    border-width: 1px;
    width: auto;
    padding: 0 1.5vw;
    margin-left: 1vw;
  }
  
  .registerButton {
    font-family: "IRANSANS";
    color: #fff;
    background-color :#5872f5;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    padding: 0 1.5vw;
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  .active{
    border-bottom-style: solid;
    border-bottom-color: #fff;
  } 
  
  a:hover{
    color: antiquewhite;
    border-bottom-style: solid;
    border-bottom-color: #fff;
  }
  