.prevNextField {
    width: 40vw;
    margin: 0 6vw 0 10vw;
    display: flex;
  }
  
  
  .prevNext {
    margin: 10px 5px;
    width: 5vw;
    height: 40px;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #59afff;
    font-family: "IRANSANS";
    font-style: normal;
    border: none;
    border-radius: 10px;
    border-width: 4px;
  }
  
  .Register-Record {
    margin: 10px 5px;
    width: 5.5vw;
    height: 40px;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #02e0f2;
    font-family: "IRANSANS";
    font-style: normal;
    border: none;
    border-radius: 10px;
    border-width: 4px;
  }

  .inquiry-Record {
    margin: 10px 5px;
    width: 7vw;
    height: 40px;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #59afff;
    font-family: "IRANSANS";
    font-style: normal;
    border: none;
    border-radius: 10px;
    border-width: 4px;
  }
  
  .buttonInActive {
    margin: 10px 5px;
    width: 5vw;
    height: 40px;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #b5dbff;
    font-family: "IRANSANS";
    font-style: normal;
    border: none;
    border-radius: 10px;
    border-width: 4px;
  }