.Process {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 12vh;
    margin-top: 10px;
  }  

.ProcessField {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 30px;
  }

.one {
  padding-left: 21.25px;
}

.three {
  padding-right: 21.25px;
}

.license {
  padding-right: 10.65px;
}

  
.ProcessText {
    margin-top: 5px;
    font-size: 10px;
    color: #919090;
  }
  
.ProcessTextActive {
    color: #59afff;
  }