.information-Registration {
    margin: 12vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #e8e8e8;
    border-width: 2px;
    border-radius: 5px;
    height: 52.5vh;
    width: 50vw;
  }

  .Registration-Form-Place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    margin: 3vh 1vw;
  }
  
  .Confirmation-Label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #7a7a7a;
  }
  
  .Confirmation-checkbox-Label {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    margin-top: 5.5vh;
    margin-left: 100px;
    color: #545454;
  }
  
  .Confirmation-Input {
    font-family: "IRANSANS";
    padding: 1vh 1vw;
    margin: 5px 0 5px 8vw;
    width: 13vw;
    height: 3vh;
    border-color: #d4d4d4;
    border-style: solid;
  }
  
  #checkbox {
    width: 2.5vw;
    height: 2.5vh;
  }
  